# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Uploaded files (if you don't want to push user-uploaded images)
static/uploads/

# MacOS / Windows system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log
